* {
    font-family: 'Poppins-Regular', sans-serif;
}

body {
    background-color: whitesmoke;
}

main, nav {
    width: 1200px;
    margin-left: 350px;
    margin-top: 170px;
}

section {
    margin-bottom: 30px;
}

section>div.game-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

article.game-card {
    position: relative;
}

/* article.game-card>a {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
} */

article.game-card img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: left top;
}

article.game-card {
    display: grid;
    font-size: 1.1em;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0px #d3d3d3;
    transition: all 100ms ease-in;
    margin-bottom: 15px
}

.game-card-hover:hover {
    cursor: pointer;
    box-shadow: 2px 2px 9px 2px #d3d3d3;
}

article>.game-card-body {
    padding: 0 15px;
}

article>.game-card-body div.game-card-details {
    font-size: 0.8em;
    line-height: 1.5;
}

article>.game-card-body div.game-card-details div span:nth-of-type(odd) {
    font-weight: bold;
}

/* article>.game-card-body div.game-card-details div {
    display: grid;
    grid-template-columns: 150px 1fr;
} */

article>.game-card-body div.game-card-details,
article>.game-card-body div.game-card-description {
    letter-spacing: 1px;
    text-align: justify;
    padding-bottom: 15px;
}

article>.game-card-body div.game-card-description {
    font-size: 1em;
    /* height: 100px; */
}

/* Show */
div.single-game-card-wrapper article {
    width: 800px;

}

div.single-game-card-wrapper article {
    width: 800px;
    margin: auto;
}

div.single-game-card-wrapper article.game-card img {

    height: 800px
}

div.single-game-card-wrapper article>.game-card-body {
    padding: 0 30px;
}

div.single-game-card-wrapper article>.game-card-body div.game-card-details {
    font-size: 0.9em;
}

div.single-game-card-wrapper article>.game-card-body div.game-card-description {
    font-size: 1.1em;
    text-indent: 50px;
}

div.single-game-card-wrapper article>.game-card-body div.game-card-details,
div.single-game-card-wrapper article>.game-card-body div.game-card-description {
    padding-bottom: 30px;
}

/* -----------------------------------POP UP IMAGE------------------------------------------ */

.popup-laptop{
    position: fixed;
    display: flex;
    left: 950px;
    top: 550px;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 1550px;
    max-width: 1200px;
    max-height: 1000px;
    background: rgba(0, 0, 0, 0.75);
    height: 960px;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
}

.d-none {
    display: none !important;
}

/* 
.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
} */

.popup-laptop .exit{
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.popup-laptop .first-portfolio-example-large-image{
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
    position: relative;
    left: 100px;
}


.first-portfolio-example-large-image{
    object-fit: contain;
    margin-top: -150px;
    margin-left: -220px;
    width: 70%;
    height: 70%;
    opacity: 0;
}

.exit::before,
.exit::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: #fff;
    
}

.exit::before {
    transform: rotate(-45deg);
}

.exit::after{
    transform: rotate(45deg);
}

.exit{
    position: relative;
    top: -450px;
    left: 880px;
    height: 30px;
    width: 5px;
    cursor: pointer;
    opacity: 0;
}



.portfolio-box-laptop-version{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1873px;
    height: 385px;
}

.portfolio-box-text{
    color: #000000af;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 34px;
}

.first-portfolio-example{
    position: relative;
    left: -340px;
    width: 350px;
    height: 350px;
    mix-blend-mode: multiply;
}

.second-portfolio-example{
    position: relative;
    left: -40px;
    width: 350px;
    height: 350px;
    mix-blend-mode: multiply;
}

.third-portfolio-example{
    position: relative;
    left: 150px;
    width: 350px;
    height: 350px;
    mix-blend-mode: multiply;
}

